.btn {
  @include btn-extras;

  border-radius: 0;
  text-transform: uppercase;

  &.btn-default {
    background-color: var(--secondary);
    color: white;

    &:hover {
      background-color: var(--secondary-dark);
      color: white;
    }
  }

  &.btn-primary,
  &.btn-secondary,
  &.btn-info,
  &.btn-text {
    color: white;
  }

  &.btn-lg {
    padding: 1rem 1.5rem 0.8rem;
    font-size: 1rem;
    border-radius: 28px;
  }
}
