.btn {
  @include btn-extras;

  border-radius: 0;
  text-transform: uppercase;

  &.btn-default {
    background-color: theme-color("secondary");

    &:hover {
      background-color: theme-color("primary");
      color: white;
    }
  }

  &.btn-primary,
  &.btn-secondary,
  &.btn-info {
    color: white;
  }

  &.btn-lg {
    padding: 1rem 1.5rem 0.8rem;
    font-size: 1rem;
  }
}
