main.main section {
  position: relative;

  &:not(.cta--full):not(.block-divider):not(.fiftyfifty--full):not([class*="bg-"]) {
    margin-bottom: 30px;
  }

  img {
    max-width: 100%;
  }

  blockquote {
    background-color: var(--csm_background);
    padding: 2rem;
    font-size: 1.4em;
    font-weight: 400;

    p {
      color: var(--csm_info);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  // &.bg-none {
  //   + .bg-none {
  //     padding-top: 0 !important;
  //   }
  // }

  &[class*="overlay-"] {
    &::before {
      @include absolute;
    }

    &.overlay-primary {
      &::before {
        background-color: rgba(var(--csm_primaryRGB), 0.5);
      }
    }

    &.overlay-secondary {
      &::before {
        background-color: rgba(var(--csm_secondaryRGB), 0.5);
      }
    }

    &.overlay-info {
      &::before {
        background-color: rgba(var(--csm_infoRGB), 0.5);
      }
    }

    &.overlay-text {
      &::before {
        background-color: rgba(var(--csm_textRGB), 0.5);
      }
    }

    &.overlay-background {
      &::before {
        background-color: rgba(var(--csm_backgroundRGB), 0.5);
      }
    }
  }
}
