main.main section {
  position: relative;

  &:not(.cta--full):not(.block-divider):not(.fiftyfifty--full):not([class*="bg-"]) {
    margin-bottom: 30px;
  }

  blockquote {
    background-color: theme-color("background");
    padding: 2rem;
    font-size: 1.4em;
    font-weight: 400;

    p {
      color: theme-color("info");

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  // &.bg-none {
  //   + .bg-none {
  //     padding-top: 0 !important;
  //   }
  // }

  &[class*="overlay-"] {
    &::before {
      @include absolute;
    }

    &.overlay-primary {
      &::before {
        background-color: rgba(theme-color("primary"), 0.5);
      }
    }

    &.overlay-secondary {
      &::before {
        background-color: rgba(theme-color("secondary"), 0.5);
      }
    }

    &.overlay-info {
      &::before {
        background-color: rgba(theme-color("info"), 0.5);
      }
    }

    &.overlay-text {
      &::before {
        background-color: rgba(theme-color("text"), 0.5);
      }
    }

    &.overlay-background {
      &::before {
        background-color: rgba(theme-color("background"), 0.5);
      }
    }
  }
}
