
:root {
  --csm_site: #ffffff;
  --csm_primary: #0178b5;
  --csm_primary-dark: #005e9b;
  --csm_primaryRGB: 1, 120, 181; 
  --csm_secondary: #44b3ec;
  --csm_secondaryRGB: 68, 179, 236;
  --csm_secondary-dark: #2a99d2;
  --csm_info: #fd901f;
  --csm_info-dark: #e37605;
  --csm_infoRGB: 253, 144, 31;
  --csm_text: #575757;
  --csm_text-dark: #3d3d3d;
  --csm_textRGB: 87, 87, 87;
  --csm_text-light: #757575;
  --csm_background: #f0f0f0;
  --csm_backgroundRGB: 240, 240, 240;
  --csm_gradient-one: #0178b5;
  --csm_gradient-two: #44b3ec;
}

h1,
.h1 {
  color: #0178b5;
}

h2,
.h2 {
  color: #fd901f;
}

h3,
.h3 {
  color: #44b3ec;
}

h4,
.h4 {
  color: #27cfc3;
}

section.block-cta {
  h2 {
    &.line-bottom {
      color: #0178b5;
      border-bottom: 4px solid #0178b5;
    }
  }

  h3 {
    color: #0178b5;
  }
}

.icegram.ig_popup,
.ig_popup.ig_inspire.ig_popup {
  background-color: var(--csm_primary) !important;
  color: white;

  .ig_headline {
    color: white;
  }
}

input,
textarea {
    background-color: #f0f0f0 !important;
  border-color: #f0f0f0  !important;
  }

label,
.wpforms-required-label {
    color: #fd901f !important;
  }
