.banner .navbar li {
  @extend .nav-item;
}

.banner .navbar a,
.banner .navbar .navbar-nav a {
  @extend .nav-link;

  padding: 0.6rem 0.8rem;
  color: theme-color("info");
  font-size: 1.1em;
  font-weight: 300;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

header {
  &.banner {
    background-color: white;

    .navbar.nav-primary {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .header-secondary {
    display: flex;

    .list--social {
      margin-bottom: 0;

      i {
        font-size: 1.25em;
      }
    }

    .header-secondary__right {
      div {
        &:not(:last-of-type) {
          margin-right: 1em;
        }

        &[class*="__wrapper"] {
          .d-flex {
            > span {
              font-size: 0.7rem;
              line-height: 1;
              text-transform: uppercase;
            }

            a {
              font-size: 0.9em;
            }
          }
        }
      }

      svg {
        height: 1.5em;
        margin-right: 8px;

        &.fa-w-14 {
          width: 1.3125em;
        }

        &.fa-w-16 {
          width: 1.5em;
        }
      }
    }

    &.bg-none {
      i,
      svg {
        color: theme-color("text");
      }
    }
  }

  img.header__logo {
    width: 150px;
  }

  ul#menu-main-menu {
    li {
      a {
        display: inline-block;
        padding: 0.4em;

        @include transition;

        &:hover {
          background-color: darken(theme-color("primary"), 10%);
          color: #fff;
          text-decoration: none;
        }
      }

      &.active {
        a {
          background-color: theme-color("primary");
          color: #fff;

          &:hover {
            background-color: darken(theme-color("primary"), 10%);
            text-decoration: none;
          }
        }
      }
    }
  }
}
