.banner .navbar li {
  @extend .nav-item;
}

.banner .navbar a:not(.brand),
.banner .navbar .navbar-nav a:not(.brand) {
  @extend .nav-link;

  font-family: $font-family-condensed;
  color: theme-color("primary");
  font-size: 1.3em;
  font-weight: 500;

  &.dropdown-item {
    font-size: 1rem;
    color: theme-color("secondary");

    &.active {
      color: white;
    }
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

header {
  &.banner {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);

    .navbar.nav-primary {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .header-secondary {
    @include media-breakpoint-up(md) {
      display: flex;
    }

    .list--social {
      margin-bottom: 0.8em;

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }

      i {
        font-size: 1.25em;
      }
    }

    .header-secondary__right {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @include media-breakpoint-up(md) {
        display: block;
      }

      div {
        &:not(:last-of-type) {
          margin-left: 0.5em;
          margin-right: 0.5em;

          @include media-breakpoint-up(md) {
            margin-left: 0;
            margin-right: 1em;
          }
        }

        &[class*="__wrapper"] {
          .d-flex {
            > span {
              font-size: 0.7rem;
              line-height: 1;
              text-transform: uppercase;
            }

            a {
              font-size: 1.1em;
              font-weight: 700;
              font-family: $font-family-condensed;
            }
          }
        }

        &.btn-wrapper {
          margin-top: 0.8em;

          @include media-breakpoint-up(md) {
            margin-top: 0;
          }
        }
      }

      svg {
        height: 1.5em;
        margin-right: 8px;

        &.fa-w-14 {
          width: 1.3125em;
        }

        &.fa-w-16 {
          width: 1.5em;
        }
      }
    }

    &.bg-none {
      i,
      svg {
        color: theme-color("text");
      }
    }
  }

  svg.header__logo,
  img.header__logo {
    height: 80px;
    width: auto;
  }

  ul#menu-main-menu {
    li {
      a {
        display: inline-block;
        padding: 0.4rem 0.6rem;

        @include transition;

        &:hover {
          background-color: darken(theme-color("primary"), 10%);
          color: #fff;
          text-decoration: none;
        }
      }

      &.active {
        > a {
          background-color: theme-color("primary");
          color: #fff;

          &:hover {
            background-color: darken(theme-color("primary"), 10%);
            text-decoration: none;
          }
        }
      }
    }
  }
}

.dropdown-menu {
  background-color: theme-color("background");
}

.dropdown-toggle {
  &::after {
    border-top-color: theme-color("secondary");
    border-bottom-color: theme-color("secondary");
  }

  &:hover,
  .current-menu-item & {
    &::after {
      border-top-color: white;
      border-bottom-color: white;
    }
  }
}
