// Has featured image: start
.page-header-wrap {
  &.full {
    &[data-responsive-background-image] {
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.background__x--left.background__y--top {
      background-position: left top;
    }

    &.background__x--center.background__y--top {
      background-position: center top;
    }

    &.background__x--right.background__y--top {
      background-position: right top;
    }

    &.background__x--left.background__y--center {
      background-position: right center;
    }

    &.background__x--center.background__y--center {
      background-position: center center;
    }

    &.background__x--right.background__y--center {
      background-position: right center;
    }

    &.background__x--left.background__y--bottom {
      background-position: left bottom;
    }

    &.background__x--center.background__y--bottom {
      background-position: center bottom;
    }

    &.background__x--right.background__y--bottom {
      background-position: right bottom;
    }

    h1 {
      text-align: center;
      color: white;
      text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.4);
    }
  }

  &.fiftyfifty {
    display: grid;
    min-height: 240px;

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
      min-height: 350px;
    }

    .page-header {
      background-image: linear-gradient(to bottom right, theme-color("gradient-one"), theme-color("gradient-two"));
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        color: white;
        margin-bottom: 0;
        padding: 2rem;
        border: 2px solid white;
      }
    }

    [data-responsive-background-image] {
      min-height: 240px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}

[data-responsive-background-image] img {
  display: none;
}
// Has featured image: End
