body.single-post,
body.sidebar-primary {
  // Google Map
  iframe[src*="google.com/maps"] {
    max-width: 100%;

    @include media-breakpoint-up(md) {
      max-width: 400px;
    }
  }

  h2 {
    margin-top: 2.4rem;
  }

  h3 {
    margin-top: 1.8rem;
  }

  article img {
    max-width: 100%;
    height: auto;
  }
}

body.single-team-member {
  article.team-member {
    h2,
    .h2 {
      font-size: 1.5rem;
    }
  }
}
