$border-radius: 10px;

aside.sidebar {
  text-align: center;

  .widget_media_image img {
    border-radius: $border-radius;
    border: 8px solid var(--csm_primary);
  }

  .widget_newsletter,
  .widget_text:not(.widget_custom_html) {
    padding: 1em;
    border-radius: $border-radius;
    background-color: var(--csm_background);
    margin-bottom: 1em;
    font-size: 1.2em;

    p {
      font-weight: 100;
      // text-transform: uppercase;
      display: block;
      color: var(--csm_text);

      strong {
        font-weight: 700;
        color: var(--csm_info);
      }
    }
  }

  .widget_text:not(.widget_custom_html) a,
  .ig_shortcode_container.trigger_onclick {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-info;

    @include btn-extras;

    &:hover {
      background-color: var(--csm_primary);
      border-color: var(--csm_primary);
    }
  }

  form {
    .wpforms-one-half {
      width: 100% !important;
      margin-left: 0 !important;
    }
  }

  .widget_newsletter {
    input {
      background-color: white !important;
    }

    div.wpforms-container-full {
      margin-bottom: 10px !important;
    }

    div.wpforms-container-full .wpforms-form .wpforms-one-half,
    div.wpforms-container-full .wpforms-form .wpforms-three-sixths,
    div.wpforms-container-full .wpforms-form .wpforms-two-fourths {
      width: 100% !important;
      margin-left: 0 !important;
    }

    div.wpforms-container-full .wpforms-form .wpforms-field {
      padding: 5px 0 !important;
    }

    div.wpforms-container-full .wpforms-form .wpforms-first {
      padding-bottom: 10px !important;
    }
  }
}
