h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 1.2rem;
  font-weight: 900;
}

h1,
.h1 {
  color: theme-color("primary");
  font-weight: bold;
  margin-bottom: 2.4rem;
}

h2,
.h2 {
  color: theme-color("secondary");
  font-size: 2.2rem;
}

h3,
.h3 {
  color: theme-color("info");
  font-size: 1.4rem;
  margin-top: 1.2rem;
  margin-bottom: 0.6rem;
}

h4,
.h4 {
  font-size: 1rem;
  margin-bottom: 0.6rem;
}

body,
p {
  color: theme-color("text");

  &.xxl {
    font-size: 2em;
  }

  &.xl {
    font-size: 1.5em;
  }

  &.l {
    font-size: 1.2em;
  }

  &.s {
    font-size: 0.875em;
  }

  &.xs {
    font-size: 0.75em;
  }

  &:not(:last-of-type) {
    margin-bottom: 1.2rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.ig_message p {
  color: theme-color("text");

  &.xxl {
    font-size: 2em;
  }

  &.xl {
    font-size: 1.5em;
  }

  &.l {
    font-size: 1.2em;
  }

  &.s {
    font-size: 0.875em;
  }

  &.xs {
    font-size: 0.75em;
  }

  &:not(:last-of-type) {
    margin-bottom: 1.2rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

b {
  font-weight: 900;
}

ul {
  &:last-child {
    margin-bottom: 0;
  }
}

.bg-primary,
.bg-secondary,
.bg-info,
.bg-image {
  :not(a):not(i):not(h2):not(h3):not(b) {
    color: #fff;
  }
}

.bg-primary {
  a {
    color: white;
  }
}

.bg-secondary {
  h2,
  a {
    color: white;
  }
}

.bg-gradient {
  @include bg-gradient;

  *:not(a) {
    color: #fff;
  }

  a {
    color: theme-color("info");
  }
}

main.main ul:not(.pagination) {
  list-style: none;
  padding-left: 0;

  li {
    color: theme-color("primary");
    position: relative;
    margin-left: 40px;
    font-style: italic;

    &::before {
      content: "•";
      padding-right: 1em;
      font-size: 1.5em;
      line-height: 1em;
      position: absolute;
      margin-left: -30px;
      color: theme-color("info");
    }

    // a {
    //   color: theme-color("primary") !important;
    // }
  }
}

main.main p a:not(.btn),
main.main ul li a:not(.btn) {
  color: theme-color("secondary");
  font-weight: 900;
  text-decoration: underline;

  &:hover {
    color: theme-color("primary");
  }
}
