@mixin absolute {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
}

@mixin bg-gradient {
  background-image: linear-gradient(to bottom right, theme-color("gradient-one"), theme-color("gradient-two"));

  a {
    &:hover {
      color: white !important;
    }
  }
}

@mixin btn-extras {
  font-weight: bold;
  cursor: pointer;
}

@mixin rounded-section {
  border-radius: 20px;
  overflow: hidden;
}
