@mixin absolute {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
}

@mixin bg-gradient {
  background-image: linear-gradient(to bottom, theme-color("primary"), theme-color("secondary"));
}
