section.block-contact {
  .col-info {
    &:not([class*="bg-"]) {
      @include bg-gradient;
    }

    padding: 1.4rem;
    display: flex;
    align-items: center;
  }

  .row-contact {
    text-align: left;
    display: grid;
  }

  &.style-1,
  &:not(.style-2) {
    .row-contact {
      .col-info {
        @include contact-styles__one--info;
      }

      @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;

        > div:nth-child(3n) {
          grid-column: 1 / -1;
        }
      }
    }
  }

  &.style-2 {
    .row-contact {
      .col-info {
        @include contact-styles__two--info;

        @include media-breakpoint-up(md) {
          grid-template-columns: 1fr;
          grid-auto-flow: row;

          > div:nth-child(3n) {
            grid-column: 1 / -1;
          }
        }
      }

      .col-map {
        @include contact-styles__two--map;
      }
    }
  }
}
