section.block-copy {
  &.text-center {
    ul {
      list-style: none;
      padding-left: 0;

      li {
        color: var(--csm_secondary);
        // &::before {
        //   content: "•";
        // }
      }
    }

    &.bg-secondary {
      ul {
        li {
          color: white;
        }
      }
    }
  }

  &.copy--rounded,
  body.sidebar-primary & {
    @include rounded-section();
  }
}
