section.block-copy {
  &.text-center {
    ul {
      list-style: none;
      padding-left: 0;

      li {
        color: theme-color("secondary");
        // &::before {
        //   content: "•";
        // }
      }
    }

    &.bg-secondary {
      ul {
        li {
          color: white;
        }
      }
    }
  }
}
