section.block-cta {
  h2 {
    font-weight: 100;
    margin-bottom: 0.5rem;
    font-size: 1.8em;

    &.line-bottom {
      padding-bottom: 0.5rem;
      // border-bottom set in theme-styles
    }
  }

  h3 {
    font-weight: 900;
    margin-bottom: 1rem;
    font-size: 1.6em;
    // Color set in theme-styles
  }

  &.light {
    h2,
    h3 {
      color: #fff;
      border-color: #fff;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    }
  }

  a,
  button {
    &.btn-lg {
      border-radius: 28px;
    }
  }

  &.cta--rounded,
  body.sidebar-primary & {
    @include rounded-section();
  }
}
