section.block-divider {
  hr {
    margin-bottom: 0;
    margin-top: 0;
  }

  &.primary {
    hr {
      border-color: var(--csm_primary);
    }
  }

  &.secondary {
    hr {
      border-color: var(--csm_secondary);
    }
  }

  &.info {
    hr {
      border-color: var(--csm_info);
    }
  }

  &.text {
    hr {
      border-color: var(--csm_text);
    }
  }

  &.background {
    hr {
      border-color: var(--csm_background);
    }
  }
}
