section.block-divider {
  hr {
    margin-bottom: 0;
    margin-top: 0;
  }

  &.primary {
    hr {
      border-color: var(--primary);
    }
  }

  &.secondary {
    hr {
      border-color: var(--secondary);
    }
  }

  &.info {
    hr {
      border-color: var(--info);
    }
  }

  &.text {
    hr {
      border-color: var(--text);
    }
  }

  &.background {
    hr {
      border-color: var(--background);
    }
  }
}
