section.block-dynamic {
  .card {
    border: none;
    box-shadow: 0 6px 10px -6px rgba(black, 0.5);
    border-top: 6px solid black;
    border-radius: 0;
    height: 100%;

    .post-title,
    .post-title a,
    .lead,
    .lead p,
    a.link {
      color: black;
    }

    &.color-primary {
      border-color: var(--csm_primary) !important;

      .post-title,
      .post-title a,
      .lead,
      .lead p,
      a.link {
        color: var(--csm_primary) !important;
      }
    }

    &.color-secondary {
      border-color: var(--csm_secondary) !important;

      .post-title,
      .post-title a,
      .lead,
      .lead p,
      a.link {
        color: var(--csm_secondary) !important;
      }
    }

    &.color-info {
      border-color: var(--csm_info) !important;

      .post-title,
      .post-title a,
      .lead,
      .lead p,
      a.link {
        color: var(--csm_info) !important;
      }
    }

    &.color-background {
      border-color: var(--csm_background) !important;

      .post-title,
      .post-title a,
      .lead,
      .lead p,
      a.link {
        color: var(--csm_background) !important;
      }
    }

    &.color-text {
      border-color: var(--csm_text) !important;

      .post-title,
      .post-title a,
      .lead,
      .lead p,
      a.link {
        color: var(--csm_text) !important;
      }
    }
  }

  .row.portfolio {
    img.img-fluid {
      max-height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }

  .row.team-member {
    // display: flex;
    // flex-wrap: wrap;
    // margin: 0 -10px;
    // justify-content: center;

    .card-header__wrapper {
      img {
        width: 150px;
      }
    }

    .card {
      // margin: 10px;
      // flex: 0 1 calc(25% - 20px);
    }
  }

  .row.post {
    // display: flex;
    // flex-wrap: wrap;
    // margin: 0 -10px;
    // justify-content: center;

    h4 {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 0.5px;
    }

    .card {
      // margin: 10px;
      // flex: 0 1 calc(33.33% - 20px);
    }
  }

  .row.testimonial {
    // display: flex;
    // flex-wrap: wrap;
    // margin: 0 -10px;
    // justify-content: center;

    .card {
      // margin: 10px;
      // flex: 0 1 calc(50% - 20px);
      border-top: none;

      .card-body {
        // padding-left: 3rem;
      }

      .full {
        font-size: 0.875em;
      }

      .lead {
        position: relative;

        &::before {
          // content: "“";
          // position: absolute;
          // top: -10px;
          // left: -32px;
          // display: block;
          // font-size: 3em;
          // z-index: 0;
          // width: 40px;
          // height: 40px;
          // background: black;
          // color: white;
          // text-align: center;
          // line-height: 80px;
          // border-radius: 50%;
          // opacity: 0.2;
        }

        * {
          z-index: 10;
          position: relative;
        }
      }

      .logo {
        height: 100px;
        max-width: 100%;
        width: auto;
      }
    }
  }

  &.dynamic-rounded,
  body.sidebar-primary & {
    border-radius: 20px;
    overflow: hidden;
  }
}
