section.block-faq {
  .card {
    border-radius: 0;
    border-color: var(--csm_primary-dark);

    h3 {
      margin-top: 0;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    button {
      font-weight: 900;
    }

    .card-header {
      background-color: var(--csm_primary);
      border-radius: 0;

      @include transition;

      .btn-link {
        color: white;
      }

      &:hover {
        background-color: var(--csm_primary-dark);
        cursor: pointer;

        .btn-link {
          text-decoration: none;
        }
      }
    }
  }

  &:not(.bg-none) {
    .card-body {
      *:not(a),
      p {
        color: var(--csm_text) !important;
      }
    }
  }

  &.faq-rounded,
  body.sidebar-primary & {
    border-radius: 20px;
    overflow: hidden;
  }
}
