section.block-fiftyfifty {
  .row-fiftyfifty {
    margin-right: -15px;
    margin-left: -15px;
    display: grid;
    grid-template-rows: 1fr 1fr;

    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }

  .col-text {
    padding: 2rem;

    h2 {
      font-weight: 100;

      b {
        font-weight: 500;
        display: block;
      }
    }

    h3 {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.4;
    }

    :last-child {
      margin-bottom: 0 !important;
    }
  }

  .container-fluid {
    .col-text {
      padding: 3rem 2rem;

      @include media-breakpoint-up(lg) {
        padding: 4rem 6rem;
      }
    }
  }
}
