section.block-hero {
  &.jumbotron {
    border-radius: 0;
    margin-bottom: 0;
    padding: $jumbotron-padding 0;
  }

  .hero__heading > * {
    // text-transform: uppercase;
    line-height: 1.3;
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 500;
    display: inline;

    b {
      font-weight: 900;
      // display: block;
      // font-size: 0.9em;
    }
  }

  .hero__subheading {
    @include bg-gradient;

    padding: 1.8rem;
    font-size: 2.4rem;
    font-weight: 100;
    line-height: 1.25;

    b {
      font-weight: 900;
    }
  }

  &.light {
    h1,
    h2,
    h3,
    p {
      color: #fff;
      border-color: #fff;
    }
  }
}
