section.block-hero {
  &.jumbotron {
    border-radius: 0;
    margin-bottom: 0;
    padding: $jumbotron-padding 0;

    @include media-breakpoint-down(md) {
      padding: 2rem 0;
    }
  }

  .hero__heading > * {
    // text-transform: uppercase;
    line-height: 1.3;
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 500;
    display: inline;

    b {
      font-weight: 900;
      // display: block;
      // font-size: 0.9em;
    }
  }

  .hero__subheading {
    background-color: rgba(theme-color("primary"), 0.6);
    padding: 1.8rem;
    font-size: 2.4rem;
    font-weight: 100;
    line-height: 1.25;
    border-radius: 10px;

    a {
      &:hover {
        color: white !important;
      }
    }

    b {
      font-weight: 900;
    }
  }

  &.dark {
    h1,
    h2,
    h3,
    p,
    b,
    .hero__heading,
    .hero__subheading {
      color: inherit;
    }
  }

  &.light {
    h1,
    h2,
    h3,
    p,
    b,
    .hero__heading,
    .hero__subheading {
      color: #fff !important;
      border-color: #fff !important;
    }
  }
}
