section.block-hero {
  &.jumbotron {
    border-radius: 0;
    margin-bottom: 0;
    padding: $jumbotron-padding 0;
  }

  h1 {
    text-transform: uppercase;
    font-weight: 100;
    line-height: 1.1;
    font-size: 2.75rem;

    b {
      font-weight: 500;
      font-size: 0.9em;
    }
  }

  .hero__subheading {
    @include bg-gradient;

    padding: 1.8rem;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.25;
  }
}
