@import "services-elements";

section.block-services {
  .btn-wrapper {
    text-align: center;
  }

  .row-services {
    img,
    svg {
      max-height: 60px;
      width: auto;
    }
  }

  .card-body {
    p {
      text-align: justify;
    }
  }

  &.style-1 {
    .row-services {
      // display: grid;
      // row-gap: 0.8em;
      // grid-template-rows: auto;
      // grid-auto-flow: row;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -10px;
      flex: 0 0 calc(100% - 20px);

      @include media-breakpoint-up(md) {
        // grid-template-columns: 1fr 1fr;
        // column-gap: 0.8em;
        flex: 0 0 calc(50% - 20px);
      }

      @include media-breakpoint-up(lg) {
        // grid-auto-flow: row;

        &.grid--2 {
          // grid-template-columns: repeat(2, 1fr);
          .card {
            flex: 0 0 calc(50% - 20px);
          }
        }

        &.grid--3 {
          // grid-template-columns: repeat(3, 1fr);
          .card {
            flex: 0 0 calc(33.33% - 20px);
          }
        }

        &.grid--4 {
          // grid-template-columns: repeat(4, 1fr);
          .card {
            flex: 0 0 calc(25% - 20px);
          }
        }
      }

      .card {
        border: none;
        box-shadow: 0 6px 10px -6px rgba(black, 0.5);
        border-top: 6px solid black;
        border-radius: 0;
        margin: 10px;

        &.color-primary {
          border-color: theme-color("primary");
        }

        &.color-secondary {
          border-color: theme-color("secondary");
        }

        &.color-info {
          border-color: theme-color("info");
        }

        &.color-background {
          border-color: theme-color("background");
        }

        &.color-text {
          border-color: theme-color("text");
        }
      }
    }
  }

  &.style-2 {
    .row-services {
      // display: grid;
      // row-gap: 0.8em;
      // grid-template-rows: auto;
      // grid-auto-flow: row;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -10px;

      img,
      svg {
        margin-right: 0.4em;
      }

      @include media-breakpoint-up(md) {
        // grid-template-columns: 1fr 1fr;
        // column-gap: 0.8em;
      }

      @include media-breakpoint-up(lg) {
        // grid-auto-flow: row;

        &.grid--2 {
          // grid-template-columns: repeat(2, 1fr);
          .card {
            flex: 0 0 calc(50% - 20px);
          }
        }

        &.grid--3 {
          // grid-template-columns: repeat(3, 1fr);
          .card {
            flex: 0 0 calc(33.33% - 20px);
          }
        }

        &.grid--4 {
          // grid-template-columns: repeat(4, 1fr);
          .card {
            flex: 0 0 calc(25% - 20px);
          }
        }
      }

      .card {
        border: none;
        border-radius: 0;
        margin: 10px;

        .card-body {
          padding: 0 1.25rem;
        }

        .card-header__wrapper {
          display: flex;
          align-items: flex-end;
          padding-bottom: 0.5rem;

          &.line-bottom {
            margin-bottom: 0.5rem;
            border-bottom: 1px solid theme-color("secondary");
          }
        }
      }
    }
  }
}
