h3 {
  section.block-services.style-1 & {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }

  section.block-services.style-2 & {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: theme-color("info");
  }

  section.block-services.style-1 .card.color-primary & {
    color: theme-color("primary");
  }

  section.block-services.style-1 .card.color-secondary & {
    color: theme-color("secondary");
  }

  section.block-services.style-1 .card.color-info & {
    color: theme-color("info");
  }

  section.block-services.style-1 .card.color-text & {
    color: theme-color("text");
  }
}

svg {
  section.block-services .card & {
    height: 2rem;
    width: auto;
    color: theme-color("black");
  }

  section.block-services.style-2 & {
    color: theme-color("info");
  }

  section.block-services.style-1 .card.color-primary & {
    color: theme-color("primary");
  }

  section.block-services.style-1 .card.color-secondary & {
    color: theme-color("secondary");
  }

  section.block-services.style-1 .card.color-info & {
    color: theme-color("info");
  }

  section.block-services.style-1 .card.color-text & {
    color: theme-color("text");
  }
}
