h3 {
  section.block-services.style-1 & {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
  }

  section.block-services.style-2 & {
    font-size: 1.2rem;
    // text-transform: uppercase;
    // color: theme-color("primary");
    margin-bottom: 0.3em;
    margin-top: 0;
    font-weight: 500;

    a {
      color: var(--csm_primary);
    }
  }

  section.block-services .card.color-primary & {
    color: var(--csm_primary);

    a {
      color: var(--csm_primary) !important;
    }
  }

  section.block-services .card.color-secondary & {
    color: var(--csm_secondary);

    a {
      color: var(--csm_secondary) !important;
    }
  }

  section.block-services .card.color-info & {
    color: var(--csm_info);

    a {
      color: var(--csm_info) !important;
    }
  }

  section.block-services .card.color-background & {
    color: var(--csm_background);

    a {
      color: var(--csm_background) !important;
    }
  }

  section.block-services .card.color-text & {
    color: var(--csm_text);

    a {
      color: var(--csm_text) !important;
    }
  }
}

svg {
  height: 60px;
  width: auto;
}

svg,
svg * {
  section.block-services .card & {
    color: var(--csm_black) !important;
    fill: transparent !important;
  }

  section.block-services:not(.style-2):not(.style-1) & {
    color: var(--csm_info) !important;
    fill: var(--csm_info) !important;
  }

  section.block-services .card.color-primary & {
    color: var(--csm_primary) !important;
    fill: var(--csm_primary) !important;
  }

  section.block-services .card.color-secondary & {
    color: var(--csm_secondary) !important;
    fill: var(--csm_secondary) !important;
  }

  section.block-services .card.color-info & {
    color: var(--csm_info) !important;
    fill: var(--csm_info) !important;
  }

  section.block-services .card.color-background & {
    color: var(--csm_background) !important;
    fill: var(--csm_background) !important;
  }

  section.block-services .card.color-text & {
    color: var(--csm_text) !important;
    fill: var(--csm_text) !important;
  }

  section.block-services .card.color-custom & {
    color: currentColor !important;
    fill: currentColor !important;
  }
}
